<div>
  <%= pf.label :fragment_name,"Name"%>
  <%= pf.text_field :fragment_name %><br><br>
  <%= pf.label :product_size,"Size" %>
  <%= pf.text_field :product_size, :placeholder => "bp" %><br><br>
</div>
