<!DOCTYPE html>
<html>
<head>
  <title>CHY Lab</title>
</head>
<body>
  <div class="page">
    <div>
      <header>
        <h1 class="title-1 current-title">Post</h1>
        <h1 class="title-1">Experimental Note</h1>
        <h1>Person on Duty</h1>
        <h1>Group Buying</h1>             
      </header>
      <nav>
      	<li>
      	<a href="#section-1" class="icon-sound">
      	<span>Post</span></a>
      	</li>
        <li>
        <a href="#section-2" class="icon-pen">
        <span>Note</span></a>
        </li>
        <li>
        <a href="#section-3" class="icon-trash">
        <span>Duty</span></a>
        </li>
        <li>
        <a href="#section-4" class="icon-credit-card">
        <span>Buying</span></a>
        </li>
		<div class="content">
		  <section id="section-1" class="current-content">
		  	<%= will_paginate @posts do%>
              <div class="message" >
              <p class="postcontent"><%= p.content %></p>
              <p class="posttime"><%= p.created_at.strftime("%B %d, %Y %H:%m") %></p>
              </div>
            <%end%>
		  </section>
		  <section id="section-2">
		  	<div class="bigbtn">
              <%= link_to "molecular" do %>
                <div>
                  <%=image_tag("clone-s.svg",alt: "Clone")%>
                </div>
              <% end %>
              <h3>Cloning and construction</h3>
              <p>Readme.</p>
            </div>
            <div class="bigbtn">
              <div>
                <%=image_tag("arabidopsis-s.svg",alt: "Plant")%>
              </div>
              <h3>Arabidopsis</h3>
              <p>Readme.</p>
            </div>
            <div class="mediabox bigbtn">
              <div>
                <%=image_tag("caculator-s.svg",alt: "Caculator")%>
              </div>
              <h3>Caculator</h3>
              <p>Readme.</p>
            </div>
		  </section>
		  <section id="section-3">
		  	
		  </section>
		  <section id="section-4">
		  	
		  </section>
		</div>
      </nav>
    </div>
  </div>
</body>
<style>

  h1{
	display:inline-block;
	position:relative;
	left:-100%;
	width:100%;
  }
  .current-title{
	position:relative;
	left:0;
  }
</style>
<script>
  $(document).ready(function(){
	$()
  });
</script>
</html>
