<div class="stepback">
<h2>About the Gene</h2><br>
		<%= gf.label :number,"Gene ID"%>
		<%= gf.text_field :number, :placeholder => "At1g01010" %><br><br>
		<%= gf.label :gene_name,"Gene Name" %>
		<%= gf.text_field :gene_name %><br><br><br>
</div>